[Unit]
Description=raspberry pi camera
After=getty.target

[Service]
ExecStart=/usr/bin/python pypicamera.py
WorkingDirectory=/home/pi/pypicamera
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
